<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<app-sidebar></app-sidebar>

<div class="d-flex">
    <!-- Busqueda -->
    <div class="container">
      <div class="row p-3">
        <div class="col">
          <h5>Busqueda</h5>
          <input type="text" class="form-control" placeholder="Buscar gifs">
        </div>
      
      </div>
      <hr>
      <!-- Fin Busqueda -->


      <!--Mostrador de img/gifs-->
      <div class="row">
        <div class="col p-3">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi suscipit in ad esse magnam quas deleniti voluptatem. Inventore adipisci, et sint ipsam id at nostrum quos tempora corrupti! Impedit, obcaecati.
        </div>
      </div>
      <!-- Fin mostrador img/gifs -->

    </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

