<!-- Sidebar: todo este sera un componente independiente-->

    <div class="bg-dark border-right p-3" id="side-bar">
      <h2
       class="text-light">
        Gifs-App
      </h2>
      <hr class="text-light">
      <!-- Contenido de mi sidebar -->
      <h5 class="historial">Historial</h5>
      
      <!--**ngFor para mostrar mi historial de busqueda-->
      
      <div class="list-group list-reset">
        <a href="#" class="list-group-item list-group-item-action bg-dark text-light bordes" *ngFor="let item of historial" (click)="clickHistorial(item)">
         
          {{item | titlecase}} 
        </a>
        <!-- Entre llaves si coloco item me salta error -->
      </div>
  
     
  
    </div>

    <!-- Fin Sidebar -->
