/* You can add global styles to this file, and also import other style files */

html,body{
    height: 100%;

}

#side-bar{
    height: 100%;
    min-height: 100vh;
    min-width: 180px;
}

.bordes{
    border-color: aliceblue;
    margin-bottom: 5px;
}

.historial{
   color:silver;
   text-align: center;
}